<a href="https://colab.research.google.com/github/Jeanette22/Apuntes_diccionarios_ciclos_dataframe-basico-/blob/Google-Colab--Poryectos/An%C3%A1lisis_a_base_de_datos_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **LIBRERIAS PARA LEER BASE DE DATOS SQL**

#### OBJETIVO: CREAR UNA CONEXION A UNA BASE DE DATOS SQL

In [ ]:
#Librerias necesarias: 
import sqlite3 as sq3               
import pandas.io.sql as pds             
import pandas as pd

In [ ]:
path = '/content/drive/MyDrive/classic_rock.db'
con = sq3.Connection(path)

**VEO LAS TABLAS QUE TIENE LA BASE DE DATOS: seleccionando una de las tabla_en este caso rock_songs**

In [ ]:
query = '''
SELECT * 
FROM rock_songs;
'''

# Execute the query
observations = pds.read_sql(query, con)

observations.head()

                     Song        Artist  Release_Year  PlayCount
0        Caught Up in You   .38 Special        1982.0         82
1         Hold On Loosely   .38 Special        1981.0         85
2  Rockin' Into the Night   .38 Special        1980.0         18
3       Art For Arts Sake          10cc        1975.0          1
4              Kryptonite  3 Doors Down        2000.0         13

In [ ]:
query = '''
SELECT * 
FROM rock_plays;
'''

# Execute the query
observations2 = pds.read_sql(query, con)

observations2.head()

              SONG RAW        Song Clean  ...            date_time day_of_week
0  Caught Up In (live)  Caught Up in You  ...  2014-06-16 18:28:34           0
1     Caught Up In You  Caught Up in You  ...  2014-06-22 00:58:55           6
2     Caught Up In You  Caught Up in You  ...  2014-06-20 05:58:44           4
3     Caught Up in You  Caught Up in You  ...  2014-06-22 20:58:52           6
4     Caught Up in You  Caught Up in You  ...  2014-06-21 19:58:57           5

[5 rows x 11 columns]

In [ ]:
observations2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37673 entries, 0 to 37672
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SONG RAW      37673 non-null  object
 1   Song Clean    37647 non-null  object
 2   ARTIST RAW    37668 non-null  object
 3   ARTIST CLEAN  37665 non-null  object
 4   CALLSIGN      37673 non-null  object
 5   TIME          37673 non-null  int64
 6   UNIQUE_ID     37673 non-null  object
 7   COMBINED      37673 non-null  object
 8   First?        37673 non-null  int64
 9   date_time     37673 non-null  object
 10  day_of_week   37673 non-null  int64
dtypes: int64(3), object(8)
memory usage: 3.2+ MB

In [ ]:
observations2.describe()

               TIME        First?   day_of_week
count  3.767300e+04  37673.000000  37673.000000
mean   1.403187e+09      0.059273      3.009928
std    1.730484e+05      0.236138      1.976652
min    1.402878e+09      0.000000      0.000000
25%    1.403049e+09      0.000000      1.000000
50%    1.403194e+09      0.000000      3.000000
75%    1.403330e+09      0.000000      5.000000
max    1.403482e+09      1.000000      6.000000

In [ ]:
observations2.isnull()

       SONG RAW  Song Clean  ARTIST RAW  ...  First?  date_time  day_of_week
0         False       False       False  ...   False      False        False
1         False       False       False  ...   False      False        False
2         False       False       False  ...   False      False        False
3         False       False       False  ...   False      False        False
4         False       False       False  ...   False      False        False
...         ...         ...         ...  ...     ...        ...          ...
37668     False        True        True  ...   False      False        False
37669     False        True       False  ...   False      False        False
37670     False        True        True  ...   False      False        False
37671     False        True        True  ...   False      False        False
37672     False        True        True  ...   False      False        False

[37673 rows x 11 columns]

In [ ]:
#Eliminar datos duplicados 
observations3=observations2.drop_duplicates ()
observations3

                  SONG RAW        Song Clean  ...            date_time day_of_week
0      Caught Up In (live)  Caught Up in You  ...  2014-06-16 18:28:34           0
1         Caught Up In You  Caught Up in You  ...  2014-06-22 00:58:55           6
2         Caught Up In You  Caught Up in You  ...  2014-06-20 05:58:44           4
3         Caught Up in You  Caught Up in You  ...  2014-06-22 20:58:52           6
4         Caught Up in You  Caught Up in You  ...  2014-06-21 19:58:57           5
...                    ...               ...  ...                  ...         ...
37668           In My Room              None  ...  2014-06-20 09:28:21           4
37669            Lucky man              None  ...  2014-06-22 03:58:55           6
37670        Mrs. Robinson              None  ...  2014-06-18 09:28:06           2
37671          So Far Away              None  ...  2014-06-17 07:59:04           1
37672        Time Is Tight              None  ...  2014-06-19 09:58:52           3

[37673 rows x 11 columns]

In [ ]:
observations3[observations3.duplicated()].shape

(0, 11)

In [ ]:
#Ordeno los datos 
observations3.sort_values ('date_time', ascending= False)

                                      SONG RAW  ... day_of_week
32760                         Behind Blue Eyes  ...           6
10332                           What It's Like  ...           6
13048                      Sweet Child O' Mine  ...           6
15193                         LIFE'S BEEN GOOD  ...           6
442    For Those About to Rock (We Salute You)  ...           6
...                                        ...  ...         ...
10771             Rhiannon (Will You Ever Win)  ...           0
23724                       Keep on Loving You  ...           0
8623                         Heartache Tonight  ...           0
1074               You Shook Me All Night Long  ...           0
13601                                Magic Man  ...           0

[37673 rows x 11 columns]

In [19]:
observations3.columns

Index(['SONG RAW', 'Song Clean', 'ARTIST RAW', 'ARTIST CLEAN', 'CALLSIGN',
       'TIME', 'UNIQUE_ID', 'COMBINED', 'First?', 'date_time', 'day_of_week'],
      dtype='object')

In [29]:
#Cambio de nombre en la columna, para que queden todos iguales
observations3.rename(columns={'First?':'FIRST', 'date_time': 'DATE_TIME', 'day_of_week': 'DAY_OF_WEEK', 'Song Clean': 'SONG_CLEAN'}).head(10)
#Otra forma de pasarlas a mayus: usar upper
# observations3.rename(str.upper, axis="columns").head()

              SONG RAW        SONG_CLEAN  ...            DATE_TIME DAY_OF_WEEK
0  Caught Up In (live)  Caught Up in You  ...  2014-06-16 18:28:34           0
1     Caught Up In You  Caught Up in You  ...  2014-06-22 00:58:55           6
2     Caught Up In You  Caught Up in You  ...  2014-06-20 05:58:44           4
3     Caught Up in You  Caught Up in You  ...  2014-06-22 20:58:52           6
4     Caught Up in You  Caught Up in You  ...  2014-06-21 19:58:57           5
5     Caught Up in You  Caught Up in You  ...  2014-06-18 15:28:20           2
6     Caught Up in You  Caught Up in You  ...  2014-06-17 02:08:52           1
7     Caught Up In You  Caught Up in You  ...  2014-06-22 16:58:23           6
8     Caught Up In You  Caught Up in You  ...  2014-06-18 01:58:17           2
9     Caught Up In You  Caught Up in You  ...  2014-06-19 11:59:27           3

[10 rows x 11 columns]